footer {
    background-color: #ffff;
    padding: 1.5rem 0rem;
    margin-bottom: 2.8rem;
    align-items: center;
    margin-top: 1rem;
    font-weight: 700;
    color: #8C8C8C;
    font-size: 0.8rem;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

  }