@use '../mixinsfunc';

.card-container{
    @include mixinsfunc.display-center(center, center);
    flex-wrap: wrap;

}

.heart{
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: url('../../assets/icons/heartpointer.svg'), auto;
}

.card{
    position: relative;
    width: 310px;
    overflow: hidden;
    margin: 10px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    cursor: pointer;

    .image{
        width: 100%;
    }
}

.card-content{
    padding: 1rem 0rem
}


.code{
    @include mixinsfunc.fuente-color(#E92027, 700, normal);
    text-align: center;
    margin-top: 1rem;

}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container{
    width: 20rem;
    height: 15.5rem;
    overflow: hidden;
    display: flex;
    border-radius: .2rem;
    transition: transform .5s ease-in-out;
}

.icons{
    display: grid;
    grid-template-columns: repeat(8, 0.3fr);
}