@use '../mixinsfunc';


.container-properties{
    @include mixinsfunc.display-center(center, center);
    background-color: white;
    padding: 3rem 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}

.pagination{
    @include mixinsfunc.display-center(center, center);
    background-color: white;

}